<!--<app-font-size-editor></app-font-size-editor>-->
<!--<app-pet></app-pet>-->
<!--<app-angular-calculator></app-angular-calculator>-->
<!--<app-color-picker></app-color-picker>-->
<!--<app-name-card cardName="Professional Dev" email="prodev@abc.xyz" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar backgroundColor="#4CAF50" progressColor="#c3c3c3" width="65"></app-progress-bar>-->
<!--<app-rating-bar (rateChange)="onRateChange($event)" [max]="10"></app-rating-bar>-->
<!--<app-countdown [seconds]="10"></app-countdown>-->
<!--<app-todo></app-todo>-->
<!--<app-register></app-register>-->
<!--<app-login></app-login>-->
<!--<nav>-->
<!--  <a class="link" routerLink="timelines"> Ứng dụng tính thời gian </a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
       width="300">
</div>

<app-dictionary></app-dictionary>
<hr>
<nav>
  <a class="link" routerLink="/">Home</a>
  <a class="link" routerLink="dictionary">Dictionary</a>
  <a class="link" routerLink="blog">Blog</a>
  <a class="link" routerLink="youtube">Youtube</a>
  <a class="link" routerLink="login-step-1">Login</a>
  <button (click)="gotoTimelines()" class="link">Ứng dụng tính thời gian</button>
</nav>
<router-outlet></router-outlet>
