<!--<app-font-size-editor></app-font-size-editor>-->
<!--<app-pet></app-pet>-->
<!--<app-angular-calculator></app-angular-calculator>-->
<!--<app-color-picker></app-color-picker>-->
<!--<app-name-card cardName="Professional Dev" email="prodev@abc.xyz" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar backgroundColor="#4CAF50" progressColor="#c3c3c3" width="65"></app-progress-bar>-->
<!--<app-rating-bar (rateChange)="onRateChange($event)" [max]="10"></app-rating-bar>-->
<!--<app-countdown [seconds]="10"></app-countdown>-->
<app-todo></app-todo>
